<!DOCTYPE html>
<html lang="en" ng-app = "" ng-init="quantity=1; price=5">
<head>
	
	<meta charset="UTF-8">
	<title>Curso de Angular</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

</head>
<body  >
	<div class="container-fluid">
		<h1> Data Binding <small>Controllers y Scope</small></h1>
		
		<input type="number" class=form-control ng-model="quantity"></input>		
		<br>
		<input type="number" class=form-control ng-model="price"></input>		
		
		<p class="lead">
			Result {{quantity * price }}
		</p> <!-- .lead -->
	</div>  <!-- .container-fluid -->
	
	<script type="text/javascript" src="js/angular.min.js"></script>	
	<script type="text/javascript">
		

	</script>
</body>
</html>